body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(lovepik-blue-atmosphere-technology-future-hd-background-image_605810445.jpg);
    color: #333;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #120463;
}

.welcome-text {
    font-size: 2em;
    color: #fff;
    animation: fadeIn 2s ease-in-out;
}

.biodata-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none; /* Sembunyikan elemen biodata pada awalnya */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tambahkan styling untuk tombol "Keluar" */
.biodata-container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.biodata-container button:hover {
    background-color: #2980b9;
}


